<html>
<head>
  <title>Task Manager</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <form action="/" method="POST">
    <div class='box'>
      <h1>Welcome!</h1>
      <h3>Please log in or register.</h3>
      <p>#{msg}</p>
      <input type="text" name="username" id="login_field" class="login" placeholder="Login" required><br><br>
      <input type="password" name="password" id="password_field" class="password" placeholder="Password" required><br><br>
      <input type="submit" value="Enter" name="type_button" class="btn">
      <input type="submit" value="Register" name="type_button" class="btn2">
    </div>
  </form>
</body>
</html>
